.info {
  font-size: 24px;
  font-weight: bold;
  color: green;
}

.error {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.warning {
  font-size: 24px;
  font-weight: bold;
  color: orange;
}
