<h2>{{ title }}</h2>

<!-- <div class="course-item">
  <h3>Introduction to Angular</h3>
  <p>Learn angular in this course.</p>
  <p>100</p>
  <p>09/03/2026</p>
  <button>View details</button>
</div>
<div class="course-item">
  <h3>Advanced to Angular</h3>
  <p>Take your Angular skills to the next level.</p>
  <p>100</p>
  <p>09/03/2026</p>
  <button>View details</button>
</div> -->

@for (course of courses; track course.id) {
  <div class="course-item">
    <h3>{{ course.title }}</h3>
    <p>{{ course.description }}</p>
    <p>{{ course.price | currency: "USD" }}</p>
    <p>{{ course.date | date: "longDate" }}</p>
    <p [hidden]="!course.soldOut">Sold Out</p>
    <img
      [ngStyle]="{ border: course.soldOut ? '2px solid red' : 'none' }"
      [src]="course.img"
      [alt]="course.title"
      width="100"
    />
    @if (course.price < 50) {
      <div class="special-offer">Special offer!!</div>
    }
    @if (course.onSale) {
      <div class="sale">On Sale!!</div>
    }
    <button (click)="viewDetails(course.title)">View details</button>
  </div>
}
