<nav>
  <a
    routerLink="/courses"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Courses</a
  >
  <a
    routerLink="/sign-up"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Sign Up</a
  >
  <a
    routerLink="/about"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >About</a
  >
  <a
    routerLink="/admin/students"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Student List</a
  >
  <a
    routerLink="/admin/add-course"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Add Course</a
  >
</nav>
<router-outlet></router-outlet>
