<nav>
  <a
    routerLink="/courses"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Courses</a
  >
  <a
    routerLink="/sign-up"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Sign Up</a
  >
  <a
    routerLink="/about"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >About</a
  >
  <a
    routerLink="/admin"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Admin</a
  >
</nav>
<router-outlet></router-outlet>
