<section>
  <h1>Carrito</h1>

  @if (cartStore.totalItems() === 0) {
    <p>Tu carrito está vacío 🛒</p>
  }

  @if (cartStore.totalItems() > 0) {
    <ul>
      @for (product of cartStore.cart(); track product.id) {
        <li>
          {{ product.title }} - ${{ product.price }}
          <button (click)="cartStore.removeFromCart(product.id)">Quitar</button>
        </li>
      }
    </ul>

    <hr />

    <p>Total: ${{ cartStore.totalPrice() }}</p>

    <button (click)="cartStore.clearCart()">Vaciar carrito</button>
  }
</section>
