<div class="course-card">
  <img
    [ngStyle]="{ border: course.soldOut ? '2px solid red' : 'none' }"
    [src]="course.img"
    [alt]="course.title"
    width="100"
  />
  <h3>{{ course.title }}</h3>
  <p>{{ course.description }}</p>
  <p>{{ course.price | currency: "USD" }}</p>
  <p>{{ course.date | date: "longDate" }}</p>
  <p [hidden]="!course.soldOut">Sold Out</p>

  @if (course.price < 50) {
    <div class="special-offer">Special offer!!</div>
  }
  @if (course.onSale) {
    <div class="sale">On Sale!!</div>
  }
  <button [disabled]="course.soldOut" (click)="onBookCourse()">Book Course</button>
</div>
